# GTKWave
*.vcd*
*.gtkw

# Object files
*.o
*.riscv*
*.elf
*.bin

# dump files
*.hex
*.dump

# python files (byte-compiled)
__pycache__/
*.py[cod]
.cache/

# build folders
build/
output/

# extra output files
*.html

# emacs files
*.el

# log files
*.log

# bck files
*_old*

# Verilator
obj_dir
*.exe

# test repo
tests/riscv-compliance

# zephyr
software/zephyr